*{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style: 1;
}

.whiteboard{
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0,0,25);
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 82vh;
    border-radius: 10px; 
}

h1{ text-align: center;
    align-items: center;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right ,#91EAE4,#86A8E7,#7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
.clear{
    height: 40px;
    width: 70px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #7F7FD5;
    border: 2px solid #7F7FD5;
    margin-left: 45%;
}
.clear:hover{
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0,0,25);
    opacity: 80%;
    color: black;
}
